# ==============================================================================
# PANEL SPECIFIC SETTINGS
# ==============================================================================

style "panel" {
	xthickness = 0
	ythickness = 0

	bg[NORMAL] = @bg_color
	bg[PRELIGHT] = shade (1.02, @bg_color)
	bg[SELECTED] = @selected_bg_color
	bg[INSENSITIVE] = shade (0.95, @bg_color)
	bg[ACTIVE] = shade (0.9, @bg_color)

	fg[NORMAL] = @fg_color
	fg[PRELIGHT] = @fg_color
	fg[SELECTED] = @selected_fg_color
	fg[INSENSITIVE] = darker (@bg_color)
	fg[ACTIVE] = @fg_color

	text[NORMAL] = @text_color
	text[PRELIGHT] = @text_color
	text[SELECTED] = @selected_fg_color
	text[INSENSITIVE] = shade (0.8, @bg_color)
	text[ACTIVE] = darker (@text_color)
	
	engine "murrine" {
		contrast = 0.5
		glazestyle = 0
		gradient_shades = {1.2, 1.1, 1.1, 1.0}
		scrollbarstyle = 0
		roundness = 0
	}
}

style "xfce-panel" = "panel" {
	xthickness = 1
	ythickness = 1
}

style "panel-text" {
	fg[NORMAL] = @base_color
	fg[PRELIGHT] = @selected_fg_color
	fg[ACTIVE] = @base_color
	
	text[NORMAL] = @base_color
	text[PRELIGHT] = @selected_fg_color
	text[ACTIVE] = @base_color

	engine "murrine" {
		textstyle = 1
		text_shade = 0.2
	}
}

style "workspace-switcher" = "panel" {
	bg[SELECTED] = shade (0.8, @selected_bg_color)
}

style "theme-main-menu-text" = "panel-text" {
	fg[PRELIGHT] = @selected_fg_color
	text[PRELIGHT] = @selected_fg_color
}

class "PanelApp*" style "panel"
class "PanelToplevel*" style "panel"

widget "*fast-user-switch*" style "panel"
widget "PanelToplevel*PanelAppletFrame" style "panel"
widget "PanelToplevel*PanelMenuBar" style "panel"
widget "PanelToplevel*PanelWidget*" style "panel"

widget_class "BonoboPlug*PanelApplet*" style "panel"
widget_class "*tray*" style "panel"

# XFCE panel theming.
widget "*Xfce*Panel*" style "xfce-panel"
class "*Xfce*Panel*" style "xfce-panel"
widget "*WnckPager*" style "workspace-switcher"

# Fix gtk-entries in the panel
class "GtkEntry" style "comboboxentry"
class "*SexyIconEntry*"			style:highest "comboboxentry"	# fixes dict-plugin
widget "*xfce4-verve-plugin*GtkEntry"	style:highest "comboboxentry"	# fixes verve-plugin

# Make sure panel text color doesn't change
widget_class "*Panel*MenuBar*" style "theme-main-menu-text"
widget_class "*Panel*<GtkMenuBar>*" style "theme-main-menu-text"
widget "*.clock-applet-button.*" style "panel-text"
widget "*PanelApplet*" style "panel-text"
